{% extends 'bill/base.html' %}	
{% block content %}	
	<div class="col-md-12">
        <div class="card">
			<div class="card-header">
				<div class="card-title">Deduct Customer Due</div>
			</div>
      <div class="card-body">
				<div class="mbill">
			    	<form  bal-url="{% url 'add-cbal'  %}" id="conDueform" >		
					<div class="phs">

					<div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Customer Id</label>
                                <select class="form-control" name="id" id="CustomerId">
                                    <option selected>--Select--</option>
                                    {% for customer in Customers%}
                                    <option value="{{customer.Customer_Id}}">{{ customer.Name }}</option>
                                    {% endfor %}
                                </select>
                            </div>				
                        </div>	
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Pay Amount</label>
                                <input type="number" id="pay" class="form-control" name="pay">	
                            </div>											
                        </div>
                    </div>
                    <div class="card-action">
                      <button id="one" value="submit" name="one" class="btn btn-success">Pay</button>
                    </div>
            </form>
        
            <div class="row">
              <table>
                <tr>
                  <th>Customer Id</th>
                  <th>Date</th>
                  <th>Paid</th>
                  <th>Due</th>
                </tr>
                <tbody id="aggregate"></tbody>
    
              </table>
            </div> 
					</div>    
				</div>
			</div>
      <!-- <div class="card-header">
				<div class="card-title">Aggregate Distributor Paid / Due</div>
			</div>
      <div class="card-body">
				<div class="mbill">
			    	<form  aggr-url="{% url 'add-dao'  %}" id="daggrform" >		
					<div class="phs">

					<div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Customer Id</label>
                                <select class="form-control" name="id" id="DistributorId">
                                    <option selected>--Select--</option>
                                    {% for distributor in Distributors %}
                                    <option value="{{distributor.Ditributor_Id}}">{{ distributor.Name }}</option>
                                    {% endfor %}
                                </select>
                            </div>				
                        </div>	
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>From Date</label>
                                <input type="date" id="dfdate" class="form-control" name="dfdate">	
                            </div>											
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>To Date</label>
                                <input type="date" id="dtdate" class="form-control" name="dtdate">	
                            </div>											
                        </div>
                    </div>
                    
                    <div class="card-action">
                      <button id="two" value="submit" name="two" class="btn btn-success">Add</button>
                    </div>
                    
                    </form>
                    
                      
						
            <div class="row">
              <table>
                <tr>
                  <th>Distributor Id</th>
                  <th>Date</th>
                  <th>Paid</th>
                  <th>Due</th>
                </tr>
                <tbody id="daggregate"></tbody>
              </table>
            </div> 
					</div>    
				</div>
			</div>
        </div>
      
	</div> -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
 <script>
      $("#one").click(function (e) {
        e.preventDefault();
        var url = $("#conDueform").attr("bal-url");  // get the url of the `load_courses` view
        var CustomerId = $("#CustomerId").val();  // get the selected programming ID from the HTML input
        var pay = $("#pay").val();  // get the selected programming ID from the HTML input
        console.log("hello")
        console.log(url);
        $.ajax({                       // initialize an AJAX request
          url: url,                    // set the url of the request (= localhost:8000/load-courses/)
          data: {
            'CustomerId': CustomerId,
            'pay':pay,
          },
          success: function (data) {
            console.log(data)  // `data` is the return of the `load_courses` view function
            $("#aggregate").html('');
            $("#aggregate").append(data);  // replace the contents of the course input with the data that came from the server
          }
        });
      });

    // $("#two").click(function (e) {
    //     e.preventDefault();
    //     var url = $("#daggrform").attr("aggr-url");  // get the url of the `load_courses` view
    //     var DistributorId = $("#DistributorId").val();  // get the selected programming ID from the HTML input
    //     var fdate = $("#dfdate").val();  // get the selected programming ID from the HTML input
    //     var tdate = $("#dtdate").val();  // get the selected programming ID from the HTML input
    //     console.log("hello")
    //     console.log(url);
        
    //     $.ajax({                       // initialize an AJAX request
    //       url: url,                    // set the url of the request (= localhost:8000/load-courses/)
    //       data: {
    //         'DistributorId': DistributorId,
    //         'fdate':fdate,
    //         'tdate':tdate     // add the programming id to the GET parameters
    //       },
    //       success: function (data) {
    //         console.log(data)   // `data` is the return of the `load_courses` view function
    //         $("#daggregate").html('');
    //         $("#daggregate").append(data);  // replace the contents of the course input with the data that came from the server
    //       }
    //     });
  
    //   });
    
    </script>
{% endblock %}					
				