
{% extends 'bill/base.html' %}	
{% block content %}	
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">New Farmer Group</div>
								</div>
								<div class="card-body">
									<div class="mbill">
					<form action="#" method="post" >
					{% csrf_token %}	
						
						
					<div class="phs">
					
					<div class="row">
					
					<div class="col-md-3">
						<div class="form-group">
									<label>Product Id</label>
									<input type="text" class="form-control" name="p_id" required>
						</div>				
					</div>

                    <div class="col-md-4">
						<div class="form-group">
						<label>Product Name</label>
									<div class="row">
								
									<input type="text" class="form-control" name="p_name">
										</div>
							</div>									
								
										
					</div>
                    <div class="col-md-4">
						<div class="form-group">
						<label>Rate per unit</label>
									<div class="row">
									<input type="text" class="form-control" name="p_rate">
										</div>
							</div>													
					</div>
					</div>
                

						<div class="card-action">
									<button type="submit" class="btn btn-success">Add</button>
									<button class="btn btn-danger">Cancel</button>
								</div>
						
						</form>
						
                  
						</div>
						</div>
						</div>
						</div>
{% endblock %}					
				